*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgba(241, 241, 243, 1);
}
/* shared style */
.button-primary{
    border-style: none;
    width: 151px;
    height: 56px;
    border-radius: 8px;
    background-color: rgba(0, 106, 80, 1);
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600px;
}
.bg-color1{
    background-color: rgba(198, 228, 214, 1);
}
.bg-color2{
    background-color: rgba(84, 144, 245, 0.2);
}
.bg-color3{
    background-color: rgba(198, 228, 214, 1);
}
.bg-color4{
    background-color: rgba(247, 235, 207, 1);
}

.btn-color1{
    background-color: rgba(84, 144, 245, 1);
}
.btn-color2{
    background-color: rgba(9, 161, 92, 1);
}
.btn-color3{
    background-color: rgba(255, 194, 57, 1);
}
.text-color1{
    color: rgba(14, 14, 14, 1);
}
.text-color2{
    color: rgba(14, 14, 14, 0.5);
}
.text-color3{
    color: rgba(14, 14, 14, 0.8);
}
/* shared style end */

.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


/* header style start */
header{
    width: 1280px;
    margin: 0 auto;
}
.nav-title{
    font-size: 32px;
    font-weight: 600;
}
.nav-container{
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin-top: 40px;
    margin-bottom: 32px;
    padding: 100px 80px 100px 80px;
    border-radius: 24px;
    
    
}

.banner-title{
    font-size: 24;
    font-weight: 500;
}

.banner-title2{
    font-size: 56px;
    font-weight: 700;
}
.exp-btn{
    width: 270px;
    height: 56px;
}
/* The vision of Futere */
menu{
    width: 1280px;
    margin: 0 auto;
}
.vision-title{
    font-size: 40px;
    font-weight: 700;
}
.vision-subtitle{
    font-size: 16;
    font-weight: 400;
}

.vision-subcontainer{
    margin: 32px 0px 32px 0px;
    display: flex;
    gap: 24px;
    
}
 .vision{
    width: 410px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-radius: 24px;
    padding: 30px;
} 
.vision img{
    width: 64px;
}
.vision-subcontainer-title{
    color:  rgba(14, 14, 14, 1);
    font-size: 20px;
    font-weight: 700;
}
.vision-subcontainer-description{
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.5);
}
.vision-btn{
    width: 122px;
    height: 41px;
    font-size: 16px;
    font-weight: 500;

}

/* vision future end */

/* dr. Younus section start */
.dr-yunus-container{
    padding: 48px 24px 48px 24px;
    background-color: #FFFFFF;
    border-radius: 16px;
    background-image: url("../assets/quote-bg.png");
    background-repeat: no-repeat;
    background-position: 02% 13%;
}
.dr-yunus-container h2{
    font-size: 20px;
    font-weight: 700;
    margin-top: 18px;
}

/* dr. Younus section end */

/* recent news start */
.news-title{
    margin: 32px 0px 20px 0px;
    font-size: 40px;
    font-weight: 700;
}

.sub-container{
    background-color: rgba(255, 255, 255, 1);
    border-radius: 24px;
    padding: 48px;
    margin-top:32px;
    display: flex;
    align-items: center;
    gap: 24px;
}
.sub-container-img img{
    border-radius: 24px;
    width: 408px;

}
.sub-container-dtails{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.sub-container-dtails img{
    width: 134px;
}
/* Recent News end */

/* Donate section Start */
.donate{
    text-align: center;
    padding: 48px;
}

.donate h1{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 32px;
}
.donate p{
    font-weight: 400;
    font-size: 16.5px;
    margin-bottom: 32px;
}
.taka{
    border-radius: 16px;
    height: 128px;
    width: 240px;
    font-size: 40px;
    font-weight: 700;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 32px;
    margin-right: 24px;
}
.two{
    background-color: rgba(198, 228, 214, 1);  
}

.donate-input{
    width: 1032px;
    height: 64px;
    background-color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    color: rgba(14, 14, 14, 0.3);
    margin-bottom: 32px;
}
/* donate section end */

/* subscribe section start */
.subscribe-container h1{
    font-size: 40px;
    font-weight: 700;
    
}

.bd-r{
    border-radius: 24px;
}
.sub-container-title{
    width: 750px;   
}
.subscribe-container{
    margin: 80px 0px 80px 0px;
    text-align: center;
    padding: 80px 100px 80px 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.subscribe-btn{
    height: 55px;
    border-radius: 0px 8px 8px 0px;
}
.subscribe-input{
    border-radius: 8px 0px 0px 8px;
    width: 600px;
    height: 55px;
    border-style: none;
}
.subscribe-input::placeholder{
    font-size: 20px;
    color: rgba(14, 14, 14, 0.3);
    padding-left: 40px;
}
.button-input{
    display: inline-flex;
    align-items: center;

}

.button-primary:hover{
    box-shadow: 10px 10px 20px rgba(255, 0, 0, 0.26);
    background-color: aqua;
    color: black;
    opacity: 0.6;
    transition: 1.1s;
    cursor:pointer;
}
